- m = locals[:message]
%message{created_at: m.created_at.iso8601, updated_at: m.updated_at.iso8601, published_at: m.published_at.iso8601, handle: m.handle, reference_url: m.reference_url}
  - unless m.title.nil?
    %title= m.title
  - unless m.summary.nil?
    %summary
      :cdata
        #{m.summary}
  %content
    :cdata
      #{m.content}
  = haml :'message_categories/message_category', locals: { message_category: m.message_category }
